h2.intro {
  font-weight: bolder;
  color: brown;
  font-style: italic;
}
p.intro {
  width: 65%;
  font-style: italic;
  float: center;
  margin-left: 17%;
}

img.intro {
  border: 5px black;
  border-style: solid;
}

body{
  text-align: center;
}
